body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

input,
select,
button {
    font-family: 'Inter', sans-serif;
}

.bg-section {
    min-height: 100vh;
    background-image: url("../images/backround-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.bg-section::before {
    content: "";
    position: absolute;
    inset: 0;
}



.navbar .dropdown-menu {
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 0;
}


.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.95);
}

header .nav-item .nav-link {
    font-weight: 500 !important;
}

.vw-widh {
    width: 100vw !important;
}

.min-height-vh {
    min-height: 100vh;
}

.navbar-expand-lg .navbar-nav {
    gap: 21px
}

.header-dark .logo-box {
    filter: invert(1);
}

.insurance-section {
    background: #fff;
    padding: 60px 0;
}

.insurance-img img {
    max-width: 100%;
    border-radius: 6px;
}

.insurance-content h3 {
    font-weight: 700;
    margin-bottom: 12px;
}

.insurance-content p {
    color: #6c757d;
    font-size: 15px;
    line-height: 1.6;
}

.quote-btn {
    background: #fdb913;
    border: none;
    padding: 10px 22px;
    font-weight: 600;
    color: #000;
}

.quote-btn:hover {
    background: #f4a900;
}

.insurance-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.insurance-links li {
    margin-bottom: 10px;
}

.insurance-links a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
}

.insurance-links a:hover {
    text-decoration: underline;
}

.insurance-links li a {
    color: #333;
}

.insurance-content {
    border-right: 1px solid #eeeeee;
    padding: 0px 50px;
}

.insurance-links {
    padding-left: 66px;
}

.trip-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.nav-tabs .nav-link {
    border: none;
    background: #ffffff;
    margin-right: 6px;
    padding: 8px 16px;
    font-weight: 500;
    color: #000000;
}

.nav-tabs .nav-link.active {
    background: #fbbf24;
    color: #000;
    font-weight: 600;
}

.tab-content {
    background: #fff;
    padding: 28px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 38px -20px #00000096;
}

.trip-form h2 {
    font-size: 22px;
    font-weight: normal;
}

.single-trip-box button {
    background: #fbbf24;
    border: 1px solid #fbbf24;
    outline: #fbbf24;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}

.city-tag {
    color: #fff;
    padding: 5px 10px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #0B2347;
    font-size: 12px;
}

.city-tag span {
    cursor: pointer;
    font-weight: bold;
}

.tabs-Block {
    width: 500px;
    margin: 45px auto;
}

input[type=number] {
    width: 58px !important;
}


.body-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 998;
}


.body-overlay.active {
    opacity: 1;
    visibility: visible;
}


.header-dark {
    background: #211c1c !important;
    transition: background 0.3s ease;
}


.header-dark .nav-link,
.header-dark .navbar-brand {
    color: #fff !important;
}